html {
    height: 100%;
}

body {
    background: #000;
    overflow: hidden;
    height: 100%;
    color: #fff;
    font-family: Courier, monospace;
    width: 100%;
    position: absolute;
}

.flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
}

.clear {
    clear: both;
}

#game {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 80%;
    box-shadow: 0 0 0 8px #666;
    position: relative;
    text-align: center
}

img.arrow-keys {
    max-width: 130px
}

img.space-key {
    max-width: 260px
}

.apple {
    width: 15px;
    height: 15px;
    background: #fff;
    position: absolute;
    border-radius: 50px;
    left: -150px;
}

.snake {
    width: 15px;
    height: 15px;
    background: #fff;
    position: absolute;
}

.score {
    font-family: Courier, monospace;
    top: 80px;
    text-align: right;
    margin-right: 5%;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}

h1 {
    color: #fff;
    font-family: Courier, monospace;
    font-size: 80px;
    padding-top: 7%;
}

button.play {
    background: 3px solid #fff;
    padding: 15px 40px;
    color: #fff;
    font-family: Courier, monospace;
    background: #000;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 70px
}

button.play:hover {
    background: #fff;
    color: #000;
}